<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Voting Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav mr-auto">

        {% if request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url "voting:running"%}">Running Elections</a>
        </li>
        <li class="nav-item active">

        <a class="nav-link" href="{% url "voting:result"%}">Past Results</a>
        </li>


        {% endif %}
       
     
      </ul>

      {% if not request.user.is_authenticated %}

      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{% url "auth:signup"%}">Sign Up</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url "auth:login"%}">Login</a>
          </li>
      </ul>

      {% else %}

      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url "auth:logout"%}">Logout</a>
          </li>
      </ul>

      {% endif %}

      
    </div>
</nav>